{% extends 'base.html.twig' %}

{% block title %}Inventario{% endblock %}

{% block body %}
<h1>Inventario</h1>
<table class="table text-left">
    <thead>
        <tr>
            <th></th>
            <th>Cantidad</th>
            <th>Nombre</th>
            <th>Estadísticas</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td style="padding-top: 2px;">
                <a href="{{ path('equip_item', {'id': item.id}) }}"><button class="btn btn-sm btn-primary">Equipar</button></a>
            </td>
            <td>{{item.quantity}}</td>
            <td>{{item.iequipment.itemid.name}}</td>
            <td>
                {% if item.iequipment.statid.hp != 0 %}<span style="color:green">+{{item.iequipment.statid.hp}}</span> 
                {% elseif item.iequipment.statid.ad != 0%}<span style="color:red">+{{item.iequipment.statid.ad}}</span> 
                {% elseif item.iequipment.statid.md != 0%}<span style="color:skyblue">+{{item.iequipment.statid.md}}</span> 
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
