{% extends 'base.html.twig' %}

{% block title %}Thread{% endblock %}

{% block body %}
    <h1>Thread</h1>

    <p>Título: {{ thread.title }}<br>Categoría:{{ thread.category }}<br>Fecha de creación: {{ thread.date ? thread.date|date('Y-m-d H:i:s') : '' }}</p>
    <table class="table table-hover table-striped">
    {% for post in thread.posts %}
            <tr>
                <td align="left"><b>Personaje:</b> {{ post.cpost.lastname }} {{ post.cpost.surname }} {{ post.cpost.surname2 ? post.cpost.surname2 : '' }} <b>Fecha del Post:</b> {{ post.date ? thread.date|date('Y-m-d H:i:s') : '' }}
                    <br><b>Mensaje:</b> {{ post.text }}
                </td>
            </tr>
    {% else %}
            <tr>
                <td colspan="5">Sin mensajes</td>
            </tr>
    {% endfor %}
    </table>
    <form action="{{ path('post_new', {'id': thread.id}) }}">
        <p>Mensaje: </p>
        <textarea class="form-control" name="mensaje" placeholder="Mensaje" required="required"></textarea>
        <button class="btn btn-warning" type="submit">Publicar</button>
    </form>
    <br>
    <a href="{{ path('thread_index') }}"><button class="btn btn-primary">Volver</button></a>
{% endblock %}