{% extends 'base.html.twig' %}

{% block title %}Foro{% endblock %}

{% block body %}
    <h1>{{ thread.title }}</h1>

    <p>Categoría:{{ thread.category }}<br>Fecha de creación: {{ thread.date ? thread.date|date('Y-m-d H:i:s') : '' }}</p>
    <table class="table table-hover table-striped">
    {% for post in thread.posts %}
            <tr>
                <td align="left"><b>Personaje:</b> {{ post.cpost.lastname }} {{ post.cpost.surname }} {{ post.cpost.surname2 ? post.cpost.surname2 : '' }} <b>Fecha del Post:</b> {{ post.date ? thread.date|date('Y-m-d H:i:s') : '' }}
                    <br><b>Mensaje:</b> {{ post.text }}
                </td>
            </tr>
    {% else %}
            <tr>
                <td colspan="5">Sin mensajes</td>
            </tr>
    {% endfor %}
    </table>
    {% if app.user.silenced %}
        <h5 class="text-danger">Estas silenciado, no puedes publicar mensajes.</h5>
    {% else %}
        <form action="{{ path('post_new', {'id': thread.id}) }}">
            <p>Mensaje: </p>
            <textarea class="form-control" name="mensaje" placeholder="Mensaje" required="required"></textarea>
            <button class="btn btn-warning" type="submit">Publicar</button>
        </form>
    {% endif %}
    <br>
    <a href="{{ path('thread_index') }}"><button class="btn btn-primary">Volver</button></a>
{% endblock %}