{% extends 'base.html.twig' %}
{% block title %}Personaje{% endblock %}

{% block body %}
<h1>Personaje</h1>

<table class="table" align="center" style="width:400px;">
    <tbody>
        <tr>
            <th>Nombre:</th>
            <td>{{ character.lastName }}</td>
        </tr>
        <tr>
            <th>Apellidos</th>
            <td>{{ character.surName }} {{ character.surName2 ? character.surName2 : '' }}</td>
        </tr>
        <tr>
            <th>Sexo:</th>
            <td>{{ character.gender }}</td>
        </tr>
        <tr>
            <th>Raza</th>
            <td>{{ character.race }}</td>
        </tr>
        <tr>
            <th>Edad</th>
            <td>{{ character.age }}</td>
        </tr>
        <tr>
            <th>Fecha de nacimiento</th>
            <td>{{ character.birthdate ? character.birthdate|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Clase</th>
            <td>{{ character.class }}</td>
        </tr>
        <tr>
            <th>Subclase</th>
            <td>{{ character.subclass ? character.subclass : 'Sin subclase' }}</td>
        </tr>
        <tr>
            <th>Experiencia</th>
            <td>{{ character.exp }}</td>
        </tr>
        <tr>
            <th>Nivel</th>
            <td>{{ lvl }}</td>
        </tr>
        <tr>
            <th>Experiencia siguiente nivel</th>
            <td>{{ expNextLvl }}</td>
        </tr>
        <tr>
            <th>Energía</th>
            <td>{{ character.energy }}/100</td>
        </tr>
        <tr>
            <th>Puntos de habilidad:</th>
            <td>{{ character.skillpoints }}</td>
        </tr>
        <tr>
            <th>Oro</th>
            <td>{{ character.gold }}</td>
        </tr>
        <tr>
            <th>Plata</th>
            <td>{{ character.silver }}</td>
        </tr>
        <tr>
            <th>Cobre</th>
            <td>{{ character.copper }}</td>
        </tr>
        <tr>
            <th>Trajabado</th>
            <td>{{ character.worked }}</td>
        </tr>
        <tr>
            <th>Fin de trabajo</th>
            <td>{{ character.workFinish ? character.workFinish|date('Y-m-d H:i:s') : 'No' }}</td>
        </tr>
        <tr>
            <th>Combates</th>
            <td>{{ character.fights }}</td>
        </tr>
        <tr>
            <th>Combates ganados</th>
            <td>{{ character.fightsWon }}</td>
        </tr>
        <tr>
            <th>Último combate</th>
            <td>{{ character.lastFight ? character.lastFight|date('Y-m-d H:i:s') : 'No' }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}