{% extends 'base.html.twig' %}
{% block title %}Personaje{% endblock %}

{% block body %}
<h1>Personaje</h1>

<table class="table text-left" align="center" style="width:300px;">
    <tbody>
        <tr>
            <td colspan="2"><b>Nombre:</b> {{ character.lastName }} {{ character.surName }} {{ character.surName2 ? character.surName2 : '' }}</td>
        </tr>
        <tr>
            <td colspan="2"><b>Sexo:</b> {{ character.gender }}</td>
        </tr>
        <tr>
            <td colspan="2" valign="middle"><b>Raza:</b> {{ character.race }}<img src="{% if character.race == 'Humano' %}{{ asset('img/game/pjs/Humano.gif') }}
                {% elseif character.race == 'Orco oscuro' %}{{ asset('img/game/pjs/Orco.gif') }}
                {% elseif character.race == 'Ligneo' %}{{ asset('img/game/pjs/Ligneo.gif') }}
                {% elseif character.race == 'Elfo solar' %}{{ asset('img/game/pjs/Elfo.gif') }}
                {% elseif character.race == 'Efrit' %}{{ asset('img/game/pjs/Efrit.gif') }}
                {% elseif character.race == 'Lapidum' %}{{ asset('img/game/pjs/Lapidum.gif') }}
                {% endif %}"></td>
        </tr>
        <tr>
            <td><b>Edad:</b> {{ character.age }}</td>
        </tr>
        <tr>
            <td><b>Cumpleaños:</b> {{ character.birthdate ? character.birthdate|date('d/M') : '' }}</td>
        </tr>
        <tr>
            <td><b>Clase:</b> {{ character.class }}<img src="{% if character.class == 'Adepto' %}{{ asset('img/game/emblems/adepto.gif') }}
                {% elseif character.class == 'Bandido' %}{{ asset('img/game/emblems/bandido.gif') }}
                {% elseif character.class == 'Soldado' %}{{ asset('img/game/emblems/soldado.gif') }}
                {% endif %}"></td>
        </tr>
        <tr>
            <td><b>Subclase:</b> {{ character.subclass ? character.subclass : '???' }}<img src="{{ asset('img/game/misc/unknown.gif') }}"></td>
        </tr>
        <tr>
            <td><b>Nivel:</b> {{ lvl }}</td>
        </tr>
        <tr>
            <td><b>Experiencia: </b> {{ character.exp }}pts</td>
        </tr>
        <tr>
            <td><b>Siguiente nivel en:</b> {{ expNextLvl }}pts</td>
        </tr>
        <tr>
            <td><b>Energía:</b> {{ character.energy }}/100</td>
        </tr>
        <tr>
            <td><b>Puntos de habilidad:</b> {{ character.skillpoints }}</td>
        </tr>
        <tr>
            <td><b>Dinero:</b> {{ character.gold }}<img src="{{ asset('img/game/misc/goldcoin.png') }}"> {{ character.silver }}<img src="{{ asset('img/game/misc/silvercoin.png') }}"> {{ character.copper }}<img src="{{ asset('img/game/misc/coppercoin.png') }}"></td>
        </tr>
        <tr>
            <td><b>Trajabado:</b> {{ character.worked  }}</td>
        </tr>
        <tr>
            <td><b>Fin de trabajo:</b> {{ character.workFinish ? character.workFinish|date('Y-m-d H:i:s') : 'No' }}</td>
        </tr>
        <tr>
            <td><b>Combates(Ganados/totales):</b> {{ character.fightsWon }}/{{ character.fights }}</td>
        </tr>
        <tr>
            <td><b>Último combate:</b> {{ character.lastFight ? character.lastFight|date('H:i:s d-m-Y') : 'No realizado' }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}