<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Auros - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/estilo.css') }}">
            <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
        {% endblock %}
        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        {% endblock %}
        <link rel="icon" type="image/gif" href="{{ asset('img/app/favicon.gif') }}" />
    </head>
    <body>
        <div>
            {% block menu %}
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="navbar-brand" href="{{ path('character_index') }}">Auros</a>
                    {% else %}
                        <a class="navbar-brand" href="{{ path('inicio') }}">Auros</a>
                    {% endif %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if app.user.ucharacter.lastname is defined  %}
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Personaje
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="{{ path('character_index') }}">Resumen</a>
                                            <a class="dropdown-item" href="#">Inventario</a>
                                            <a class="dropdown-item" href="#">Mascotas</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Social
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="{{ path('message_index') }}">Mensajería</a>
                                            <a class="dropdown-item" href="{{ path('thread_index') }}">Taberna</a>
                                            <a class="dropdown-item" href="#">Clasificación</a>
                                            <a class="dropdown-item" href="#">Clanes</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Acciones
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Combatir</a>
                                            <a class="dropdown-item" href="#">Comerciar</a>
                                            <a class="dropdown-item" href="#">Explorar</a>
                                            <a class="dropdown-item" href="#">Fabricar</a>
                                            <a class="dropdown-item" href="#">Trabajar</a>
                                        </div>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">Mercader</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">Donaciones</a>
                                    </li>
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Ayuda
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Wiki</a>
                                            <a class="dropdown-item" href="#">FAQ</a>
                                            <a class="dropdown-item" href="#">Soporte</a>
                                            <a class="dropdown-item" href="#">Sobre Auros</a>
                                        </div>
                                    </li>
                                {% else %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{{ path('character_new') }}">Crear personaje</a>
                                    </li>
                                {% endif %}
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ app.user.username }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{{ path('user_show', {'id': app.user.id}) }}">Mi cuenta</a>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="dropdown-item" href="#">* ADMIN *</a>
                                        {% endif %}
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="dropdown-item" href="#">* MOD *</a>
                                        {% endif %}
                                        <a class="dropdown-item" href="{{ path('logout') }}">Salir</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('login') }}">Iniciar Sesión</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('registro') }}">Registro</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            {% endblock %}
        </div>
        <div class="content">
            <div class="mensaje">
                {% for class in app.session.flashbag().get('class') %}
                    <div class="alert {{ class }}">
                        {% for message in app.session.flashbag().get('status') %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
        <div class="footer">
            {% block foo %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
